*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
header
{
    display: flex;
    font-size: 1.6rem;
    padding: 0rem 4.1rem;
}
header div{
    margin-left: auto ;
    padding-top: 1.0rem;
}
ul{
    display: flex;
    align-items: center;
}
header li
{
    display: inline;
    margin: 0 1rem;
}
.icon-list
{
    width: 2.6rem;
}
.icon-avatar
{   
    width:3.6rem;
    border-radius: 50%;

}
main 
{
    display: flex;
    flex-wrap: wrap;
    
}
main div
{
    margin: auto;
}